.logo{
    position: absolute;
    left: 0rem;
    max-width: 10%;
    border-radius: none;
    box-shadow: none;
    clear: both;
    background-color: transparent;
}

.menu-nav{
    display: flex;
    flex-direction: row;
}
.menu{
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.07rem solid var(--third-color);
    z-index: 1;
}
.menu-main-content{
    box-sizing: content-box;
    color: var(--primary-color);
    max-width: 90%;
    margin: 0 auto;
}
.menu-content{
    box-sizing: content-box;
    flex-direction: row-reverse;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 0;
    padding-bottom: 0;
}
.menu h1 {
    font-size: 2.3rem;
}
.menu h1 a {
    font-size: 2.3rem;
    color: var(--primary-color);

}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a {
    display: block;
    height: 50px;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
    box-sizing: content-box;
    text-decoration: none;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 4rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background-color: var(--third-color);
    transition: all 300ms ease-in-out;
    
}
.menu ul li a:hover::after {
    
    width: 50%;
    left: 25%;
}
.menu-spacing {
    
    height: 92px;
}