/* ----------------- MAIN AND SECOND BACKGROUND */
.main-bg{
    /* background-image: url(/assets/img/whiteBg.png); */
    background-size: cover;
    background-position: center center;
    padding: var(--gap);
    padding-right: 0px;
    padding-left: auto;
    padding-left: 0px;


}
.main-content{
    color: var(--primary-color);
    max-width: 90%;
    margin: 0 auto;
}
.dark-bg{
    background-color: var(--primary-color);
    color: var(--white);
    padding: var(--gap);
}
.dark-content {
    color: var(--white);
}
/* ----------------- SECTION */
.section{
    min-height: 100vh;
}
/* --------------------GRID */
.intro-content{
    position: relative;
    top: -3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: var(--gap); */
    height: 100vh;
    align-items: center;
    align-content: space-around;
    justify-items: center;
}

.intro-text-content{
    display: flex;
    flex-flow: column wrap;
    /* justify-content: flex-start; */
}
.p-intro {
    margin-top: 50px;
}
.intro-img {
    visibility: hidden;
}
.intro-img img {
    height: 650px;
}
