*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #493538;
    --secondary-color: #E1D5CC;
    --white: #EEEE;
    --gap: 3rem;
}
html{
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--white)

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
h2{
    font-size: 5.5rem;
}

h3{
    font-size: 5rem;
}
h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}

/* ----------------- MAIN AND CONTENT */
.main-bg{
    background-image: url(/assets/img/whiteBg.png);
    background-size: cover;
    background-position: center center;
    padding: var(--gap);

}
.main-content{
    color: var(--primary-color);
    max-width: 1200px;
    margin: 0 auto;
}
.dark-bg{
    background-color: var(--primary-color);
    color: var(--white);
    padding: var(--gap);
}
.dark-content {
    color: var(--white);
}
/* ----------------- SECTION */
.section{
    min-height: 100vh;
}