/* ----------------- MAIN AND SECOND BACKGROUND */
.main-bg{
    background-size: cover;
    background-position: center center;
    padding:  var(--gap);
    padding-right: 0px;
    padding-left: auto;
    padding-left: 0px;
}
.main-content{
    color: var(--primary-color);
    max-width: 90%;
    margin: 0 auto;
}
.dark-bg{
    background-color: var(--primary-color);
    color: var(--white);
    
}
/* ----------------- SECTION */
.section{
    min-height: 100vh;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
}
/* --------------------GRID INTRO */
.intro-content{
    position: relative;
    top: -4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    text-align: center;

}
.intro-content-2{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    text-align: center;
}
#intro-2-block{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100%;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    text-align: center;
}
.intro-text-content-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50%;
}

.intro-text-content, .intro-img img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 0%;
}
.p-intro {
    gap: 5rem;
    margin-bottom: 4rem;
}
.intro-img {
    position: relative;
    top: -20px;
    visibility: hidden;
}
.intro-img img {
    max-height: 600px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#placas-ale{
    max-height: 600px;
    width: 100%;
    height: auto;
    object-fit: cover; 
}
/* -------------------------- TESTIMONIAL SECTION */
#testimonials {
    text-align: center;
    background: #4ECDC4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  #testimonial-carousel{
    padding: 15%;
  }
  .testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .testimonial-image {
    width: 60%;
    border-radius: 10%;
    margin: 20px;
  }
/* -----------------------------Gallery */
.section-gallery{
    min-height: 100vh;
    margin-bottom: 1px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.gallery-text{
    display: flex;
    /* flex-flow: column wrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 100%;
    
}
.grid-one-gallery{
    min-height: 100vh;
    max-width: 90%;
    margin: 0 auto 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.grid-one-gallery h2 {
    margin-bottom: 1rem;
}
.grid-one-gallery p {
    margin-bottom: 5rem;
}
.gallery-img{
    min-width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}
.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}
.gallery-spacing{
    min-height: 121px;
}


/* -------------------------------------------------------About Me */

.aboutMe-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    align-items: center;
    justify-items: center;
}
#ale-lado{
    width: 37%;
}

.aboutMe-text{
    min-height: 50rem;
}
.aboutMe-description{
    padding: 10%;
}
.aboutMe-description-text{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
.aboutMe-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 90%;
}

.aboutMe-content h2 {
    text-align: center;
    font-size: 6rem;
}
.aboutMe-content p{
    text-align: center;
}

.list-aboutMe{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: flex-start;
}
.list-aboutMe ul {
    list-style: none;
}
.list-aboutMe ul li{
    font-size: 2rem;
}

/* ---------------------------------------------------------------- Contact Me */

.contact-content{
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
.contact-form{
    margin-top: 2rem;
    grid-column: span 2;
}
.contact-form, .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.form-grid legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.form-group{
    min-width: 100%;
    flex: 1 1 auto;
}
.form-group label{
    display: block;
    margin-bottom: 1rem;
}
.form-group input,
.form-group textarea{
    border: none;
    background: var(--white);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
.form-group input:focus,
.form-group textarea:focus{
    box-shadow: 0 0 5px 2px var(--third-color);
}

.full-width{
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    border: 0.5rem solid var(--white);
    color: var(--white);
    background: none;
    padding: 1.5rem 2rem;
    margin-bottom: 10rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover{
    border: 0.5rem solid var(--white);
    background: var(--white);
    color: var(--primary-color);
}
.form-group ::placeholder{
    color: #eee;
}

/* ----------------------------------------------------------------FOOTER */
#footer {
    text-align: center;
    font-size: 1.6rem;
   
}
#footer a {
    text-decoration: none;
    color: var(--primary-color);
}
.social-icon{
    margin: 20px 10px;
}
#footer p{
    margin: 0;
    padding: 2rem;
}
/* ---------------------------------------------------------------- */
.close-menu{
    display: none;
}
.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-95deg);
    border: 0.1rem solid var(--primary-color);
    opacity: 7%;
}

/* ----------------------------------------------------------------Media */

@media (min-width: 801px){
    #intro-2-block{
        display: none;
    }
}

@media (max-width: 800px) {
    #logo{
        position: absolute;
        top: 2rem;
        left: 40%;
        max-width: 20%;
    }

    #intro-2-block{
        display: block;
    }
    #intro-2{
        display: none;
    }
    .intro-content, .intro-content-2, .grid {
        grid-template-columns: 1fr;
    }
    .gallery-img{
        max-width: 100%;
        max-height: 100%;
    }
    .gallery-img img {
        width: 100%;
    }

    .grid-one-content{
        display: block;
    }
    .menu{
        bottom: 0;
        text-align: center;
    }
    #menu-content{
        justify-content: center;
    }
    .menu-content{
        flex-direction: column;
        align-items: center;
    }
    .menu-content ul {
        flex-direction: column;
    }
    .menu-main-content{
        height: 100vh;
    }
    .menu{
        display: none;
    }
    .menu-ul{
        align-items: stretch;
        margin: 0;
        padding: 0;
    }
    .close-menu-label::after{
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white);
        font-size: 3rem;
        line-height: 1.5rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;   
    }
    .close-menu:checked~.menu {
        display: block;
    }
    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }
    .menu-spacing{
        display: block;
    }

    #ale-lado{
        width: 100%;
    }
    .aboutMe-content{
        text-align: center;
        flex-direction: column;
    }
    .aboutMe-description-text h2 {
        font-size: 4rem;
    }
    .list-aboutMe{
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
    }
    .list-aboutMe ul li {
        font-size: 1.6rem;
        white-space: nowrap;
        text-align: center;
    }

}
    
