:root{
    --primary-color: #493538;
    --secondary-color: #E1D5CC;
    --third-color: #D6C1D6;
    --white: #EEEE;
    --gap: 3rem;
}

/* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,51,124,1) 35%, rgba(0,212,255,1) 100%); */